---
layout: narrative
---


<div style="text-align: center;">
{% if page.alternative_name %}
  <p>{% for name in page.alternative_name %}{{ name }}{% unless forloop.last %}, {% endunless %}{% endfor %}</p>
{% endif %}
</div>

<div class="building-details">
  {% if page.built %}<p><strong>Built:</strong> {% for built in page.built %}{{ built }}{% unless forloop.last %}, {% endunless %}{% endfor %}</p>{% endif %}
  {% if page.addition %}<p><strong>Addition:</strong>{% for addition in page.addition %} {{ addition }}{% unless forloop.last %}, {% endunless %}{% endfor %}</p>{% endif %}
  {% if page.architect %}<p><strong>Architect:</strong> {% for architect in page.architect %}{{ architect }}{% unless forloop.last %}, {% endunless %}{% endfor %}</p>{% endif %}
  {% if page.contractor %}<p><strong>Contractor:</strong> {% for contractor in page.contractor %}{{ contractor }}{% unless forloop.last %}, {% endunless %}{% endfor %}</p>{% endif %}
  {% if page.razed %}<p><strong>Razed:</strong> {% for razed in page.razed %}{{ razed }}{% unless forloop.last %}, {% endunless %}{% endfor %}</p>{% endif %}
</div>

{{ content }}