---
layout: narrative
---
{{ content }}

<table>
  <thead>
    <tr>
      <th>Building Name</th>
      <th>Year Started</th>
      <th>Year Gone</th>
      <th>Valuation</th>
    </tr>
  </thead>
  <tbody>
    {% for row in site.data.chronology %}
      <tr>
        <td>
          {% if row.url %}
            <a href="{{ row.url | relative_url }}">{{ row.building_name }}</a>
          {% else %}
            {{ row.building_name }}
          {% endif %}
        </td>
        <td>{{ row.year_started }}</td>
        <td>{{ row.year_gone }}</td>
        <td>{{ row.valuation }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>